/Gurung.BulkOperations/obj
/Gurung.BulkOperations/bin
/Gurung.BulkOperations.Extensions/obj
/Gurung.BulkOperations.Extensions/bin
/Gurung.BulkOperations.PostgreSql/obj
/Gurung.BulkOperations.PostgreSql/bin
/Gurung.BulkOperations.SqlServer/obj
/Gurung.BulkOperations.SqlServer/bin
/.vs
